{%extends 'core/base.html' %}

{% block title %}Posts{% endblock %}
{% block header %}Posts{% endblock %}
{% block cabecera %}Publicaciones Realizadas{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Lista</h1>
</div>

<div class="post container">
    <div class="row">
        <div class="col-md-8">
            <!--BLOQUE QUE DESPLIEGA DATOS DE LA CONSULTA DE LA BASE DE DATOS-->
            {%for post in posts%}
            <p class="line-break">publicado: {{post.published_date}}</p>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">publicado: {{post.title}}</a></h2>
            <p class="line-break">{{post.text|linebreaksbr}}</p>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}