<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WENA CTM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <h1>PICO ZORRA XUZETUNARE</h1>

    <div>
        <h1><a href="/">IR A PAGINA PORTAFOLIO</a></h1>
        <!--BLOQUE QUE DESPLIEGA DATOS DE LA CONSULTA DE LA BASE DE DATOS-->
        {%for post in posts%}
        <p>publicado: {{post.published_date}}</p>
        <h2><a href="">publicado: {{post.title}}</a></h2>
        <p>{{post.text|linebreaksbr}}</p>
        {%endfor%}
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta
            gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta
            gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
</body>

</html>